In [172]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [173]:
shape = df.shape
print("data Frame is having {} rows and {} columns".format(shape[0],shape[1]))

data Frame is having 4601 rows and 58 columns

In [174]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
count,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,...,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000
mean,0.104553,0.213015,0.280656,0.065425,0.312223,0.095901,0.114208,0.105295,0.090067,0.239413,...,0.038575,0.139030,0.016976,0.269071,0.075811,0.044238,5.191515,52.172789,283.289285,0.394045
std,0.305358,1.290575,0.504143,1.395151,0.672513,0.273824,0.391441,0.401071,0.278616,0.644755,...,0.243471,0.270355,0.109394,0.815672,0.245882,0.429342,31.729449,194.891310,606.347851,0.488698
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.588000,6.000000,35.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.065000,0.000000,0.000000,0.000000,0.000000,2.276000,15.000000,95.000000,0.000000
75%,0.000000,0.000000,0.420000,0.000000,0.380000,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.188000,0.000000,0.315000,0.052000,0.000000,3.706000,43.000000,266.000000,1.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.000000,1.000000

###  There are no NA or Null in the data set

In [175]:
count = df.groupby(57).count()[[0]]
#plt.bar(count,align = 'center',alpha =0.5)
print(count)
#plt.bar(2,count,align='center', alpha=0.5)
#plt.

       0
57
0   2788
1   1813

In [176]:
from sklearn.model_selection import train_test_split

X = df.iloc[:, 0:-1]
Y = df.iloc[:, -1]

In [177]:
### checking Features to train
print(X.head())
print(Y.head())

     0     1     2    3     4     5     6     7     8     9   ...   47    48  \
0  0.00  0.64  0.64  0.0  0.32  0.00  0.00  0.00  0.00  0.00  ...  0.0  0.00
1  0.21  0.28  0.50  0.0  0.14  0.28  0.21  0.07  0.00  0.94  ...  0.0  0.00
2  0.06  0.00  0.71  0.0  1.23  0.19  0.19  0.12  0.64  0.25  ...  0.0  0.01
3  0.00  0.00  0.00  0.0  0.63  0.00  0.31  0.63  0.31  0.63  ...  0.0  0.00
4  0.00  0.00  0.00  0.0  0.63  0.00  0.31  0.63  0.31  0.63  ...  0.0  0.00

      49   50     51     52     53     54   55    56
0  0.000  0.0  0.778  0.000  0.000  3.756   61   278
1  0.132  0.0  0.372  0.180  0.048  5.114  101  1028
2  0.143  0.0  0.276  0.184  0.010  9.821  485  2259
3  0.137  0.0  0.137  0.000  0.000  3.537   40   191
4  0.135  0.0  0.135  0.000  0.000  3.537   40   191

[5 rows x 57 columns]
0    1
1    1
2    1
3    1
4    1
Name: 57, dtype: int64

In [178]:
x_train,x_test,y_train, y_test = train_test_split(X,Y,train_size=0.7,random_state = 1)

In [179]:
x_train.reset_index(drop = True,inplace = True)
y_train.reset_index(drop =  True, inplace  = True)

In [180]:
idf = np.count_nonzero(X, axis=0)
print(idf.shape)
idf = np.log(shape[0]/idf)
idf[48:58] = 1
print(idf)

(57,)
[1.47463044 1.63385888 0.8907556  4.58388135 0.96780139 1.52727417
 1.74070528 1.71985842 1.7837499  1.26237213 1.87017342 0.68255363
 1.68644242 2.55629317 2.61691779 1.31035616 1.56397554 1.48897789
 0.35472076 2.38429549 0.64126723 3.67185502 1.91340782 1.83415845
 1.44009597 1.7357609  1.77473503 2.2963019  2.5151351  2.28342618
 2.75385634 3.11101897 2.43014188 3.06339092 2.24988006 2.03876735
 1.7138088  4.01518834 2.4833864  2.31813682 3.43681668 2.60214647
 2.50710292 2.64406878 1.25548347 2.18598608 4.29089422 3.12082297
 1.         1.         1.         1.         1.         1.
 1.         1.         1.        ]

In [181]:
### IDF(i) =  ln(total number of docuemnts / total number of documents that have the term i), ln -> natural logarithm
x_train = x_train * idf
x_test  = x_test * idf

In [182]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
#x_train = sc.fit_transform(x_train)
#x_test  = sc.fit_transform(x_test)

In [183]:
from sklearn.model_selection import KFold
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
kf = KFold(n_splits = 10,)
for train_index,test_index in kf.split(x_train):
    #print(x_train.iloc[train_index].head())
    #break
    nb.fit(x_train.iloc[train_index],y_train.iloc[train_index])
    score = nb.score(x_train.iloc[test_index],y_train.iloc[test_index])
    print('score',score)

score 0.8385093167701864
score 0.8074534161490683
score 0.7981366459627329
score 0.7919254658385093
score 0.7950310559006211
score 0.8260869565217391
score 0.8571428571428571
score 0.8012422360248447
score 0.8136645962732919
score 0.8322981366459627

In [184]:
score = nb.score(x_test,y_test)
print(score)

0.8160753077480087